<h1>These are all the artists from our studio</h1>
<ul>
<% @artists.each do |artist| %>
<li><%= link_to artist.name, artist_path(artist) %></li>
<% end %>
</ul>

<%= button_to "Assign instruments to artists", new_artist_instrument_path, method: :get %>